<footer id='footer' class='footer-bottom bg-pink'>
  <div class='container'>
    <div class= "row justify-content-end">
      <div class="col-auto"><%= link_to "利用規約", "#", class: 'link-dark' %></div>
      <div class="col-auto"><%= link_to "プライバシーポリシー", "#", class: 'link-dark' %></div>
      <div class="col-auto"><%= link_to "お問い合わせ", "#", class: 'link-dark' %></div>
    </div>
  </div>
</footer>